@model TaxiApp.Models.RequestClient
@{
    ViewBag.Title = "Удаление заявки";
}

<div>
    <dl class="dl-horizontal">
        <dt>Номер заявки</dt>
        <dd>
            @Model.Id
        </dd>

        <dt>Имя клиента</dt>
        <dd>
            @Model.Name
        </dd>
    </dl>

    <div>
        <form asp-controller="Home" asp-action="Delete" method="post">
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Удалить" />
            </div>
        </form>
    </div>
</div>