@model TaxiApp.Models.RequestClient
@{
    ViewBag.Title = "Cтатус заявки";
}
<div>
    <dl class="dl-horizontal">
        <dt>Заявка номер @Model.Id: Статус: @Model.Status. Водитель: @Model.User.Login</dt>

    </dl>

    <div>

    </div>
</div>
