@model TaxiApp.Models.RequestClient
@{
    ViewBag.Title = "Узнать статус заявки";
}
    <html>
    <head>
       
    </head>
    <body>
        <div>
            <p>Укажите номер заявки: </p>
            <form method="post">
                <table>
                    <tr>
                   
                        <td><input type="text" name="Id" /> </td>
                    </tr>
                    
                    <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
                </table>
            </form>
        </div>



    </body>
    </html>

